$breakpoint_xs: 320px;
$breakpoint_sm: 640px;
$breakpoint_md: 768px;
$breakpoint_lg: 1024px;
$breakpoint_xl: 1300px;

// Header specific
$header_breakpoint--large: 1200px;
$header_breakpoint: 800px;
$header_breakpoint--small: 550px;
