$brand_color: #ffa200;
$brand_color--light: lighten($brand_color, 10%);
$brand_color--dark: darken($brand_color, 10%);

$default_color: #2c2c2c;

$border_color: #eaeaea;

$twitter_col: #1da1f2;
$facebook_col: #3b5998;
