.music {
    &-feed {
        padding: 40px 0;

        .music__detail {
            margin-bottom: 40px;
            letter-spacing: -0.4px;
        }//.music__detail
    }//.music-feed

    &__detail {
        background: #fff;
        padding: 20px 20px 20px 10px;
        position: relative;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

        &-interactions {
            position: absolute;
            top: 0;
            right: 15px;
            transform: translateY(-50%);

            .music-interaction {
                float: left;
                margin: 0 5px;
            }//.music-interaction
        }//.music__detail-ineractions

        &-artwork {
            float: left;
            transform: translateY(-40px);
        }//.music__detail-artwork

        &-content {
            padding-left: 190px; // 250 if expanded
            position: relative;
        }//.music__detail-content

        &-reup-label {
            font-weight: 700;
            position: absolute;
            top: -45px;
            text-transform: uppercase;

            i {
                color: $brand_color;
                position: relative;
                top: -1px;
                font-size: 15px;
                margin-right: 2px;
            }//i
        }//.music__detail-reup-label

        &-heading {
            font-size: 20px; // 24 if expanded
            line-height: 1;
            margin: 0 0 5px;

            &--title {
                font-weight: 700;
                margin-bottom: 3px;
            }//.music__detail-heading--title
        }//.music__detail-heading

        &-featuring {
            font-size: 18px;
            font-weight: 700;
            margin: 0;
            line-height: 1.4;
        }//.music__detail-featuring

        &-meta {
            list-style: none;
            margin: 0;

            li {
                line-height: 1.6;
            }//li

            a {
                font-weight: 700;
            }//a

            &--featuring {
                font-size: 14px;
            }//.music__detail-meta--featuring
        }//.music__detail-meta
    }//.music__detail
}//.music
