.burger {
    position: relative;

    &__filling {
        background: #222;
        height: $burger_height;
        width: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s ease-in-out;

        &:before,
        &:after {
            content: "";
            background: #222;
            width: 100%;
            height: $burger_height;
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: center;
            transition: 0.2s ease-in-out;
        }//:before / :after

        &:before {
            transform: translateY(-$burger_height * 2.5);
        }//:before

        &:after {
            transform: translateY($burger_height * 2.5);
        }//:after
    }//.burger__filling
}//.burger__bun
